
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'mainDatabase_Department_list' %}">
    Department Listing
    </a>
</p>
    
<table class="table">
    <tr><td>branch_code</td><td>{{ object.branch_code }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>degree</td><td>{{ object.degree }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>branch</td><td>{{ object.branch }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}